<h2>All about <%= @album.title %></h2>

Album Name: <%= @album.title %>
<br>
Written By: <%= @album.band.name %>
<br>
Year: <%= @album.yr %>
<p>
<a href="<%= bands_url %>">Take me back to BANDS!</a>
</p>